{% if release is defined %}
{% set release = "release/{{ bareos_release }}" %}
{% else %}
{% set release = "release/21" %}
{% endif %}
{% if ansible_distribution_major_version == '11' %}
{% set distr = "Debian_11" %}
{% elif ansible_distribution_major_version == '10' %}
{% set distr = "Debian_10" %}
{% endif %}
deb https://download.bareos.org/bareos/{{ release }}/{{ distr }} /
