#{{ ansible_managed }}
Director {
    Name = {{ item.name }}
{% if item.password is defined %}
    Password = "{{ item.password }}"
{% else %}
    Password = ""
{% endif %}
    Monitor = {{ item.monitor | default("No") }}
    Description = "{{ item.description | default(item.name) }}"
{% if item.tls_enable is defined %}    
    TLS Enable = {{ item.tls_enable }}
    TLS Require = {{ item.tls_enable }}
    TLS Verify Peer = yes
    TLS CA Certificate File = /etc/bareos/tls/ca.crt
    TLS Certificate = /etc/bareos/tls/"{{ item.name }}".crt
    TLS Key = /etc/bareos/tls/"{{ item.name }}".key
{% endif %}
}
